-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sopweb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_relationships`
--

DROP TABLE IF EXISTS `document_relationships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `document_relationships` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `source_version_id` int(10) unsigned NOT NULL,
  `target_version_id` int(10) unsigned NOT NULL,
  `relationship_type` varchar(50) NOT NULL,
  `affected_sections` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `management_source` varchar(50) DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_document_relationships_source_version_id` (`source_version_id`),
  KEY `idx_document_relationships_target_version_id` (`target_version_id`),
  KEY `idx_document_relationships_relationship_type` (`relationship_type`),
  KEY `idx_document_relationships_management_source` (`management_source`),
  CONSTRAINT `fk_document_relationships_source` FOREIGN KEY (`source_version_id`) REFERENCES `procedure_versions` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_document_relationships_target` FOREIGN KEY (`target_version_id`) REFERENCES `procedure_versions` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_relationships`
--

LOCK TABLES `document_relationships` WRITE;
/*!40000 ALTER TABLE `document_relationships` DISABLE KEYS */;
INSERT INTO `document_relationships` VALUES (1,2,1,'AMENDS','Section 3 supplier eligibility, Section 5 required procurement documents','Supplier qualification and attachment checklist updated.','PDMS_AUTHORING',3,'2026-03-14 08:19:11'),(2,3,2,'REVISES','Section 1B-D, Section 2A-C, Section 6','Comprehensive revision replacing the previous controlling version.','PDMS_AUTHORING',3,'2026-03-14 08:23:49'),(3,4,3,'SUPERSEDES','','New consolidated procedure replaces PPP-001.','PDMS_AUTHORING',3,'2026-03-14 09:06:52');
/*!40000 ALTER TABLE `document_relationships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `reference_number` varchar(100) NOT NULL,
  `date_of_effectivity` date NOT NULL,
  `upload_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `amended_post_id` int(11) DEFAULT NULL,
  `superseded_post_id` int(11) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `is_superseded` tinyint(1) DEFAULT 0,
  `is_amendable` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `amended_post_id` (`amended_post_id`),
  KEY `superseded_post_id` (`superseded_post_id`),
  CONSTRAINT `fk_posts_amended_post_id` FOREIGN KEY (`amended_post_id`) REFERENCES `posts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_superseded_post_id` FOREIGN KEY (`superseded_post_id`) REFERENCES `posts` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procedure_sections`
--

DROP TABLE IF EXISTS `procedure_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `procedure_sections` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_id` int(10) unsigned NOT NULL,
  `section_key` varchar(150) NOT NULL,
  `section_title` varchar(255) DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_procedure_sections_procedure_section_key` (`procedure_id`,`section_key`),
  KEY `idx_procedure_sections_procedure_id` (`procedure_id`),
  CONSTRAINT `fk_procedure_sections_procedure` FOREIGN KEY (`procedure_id`) REFERENCES `procedures` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procedure_sections`
--

LOCK TABLES `procedure_sections` WRITE;
/*!40000 ALTER TABLE `procedure_sections` DISABLE KEYS */;
INSERT INTO `procedure_sections` VALUES (1,1,'3 SUPPLIER ELIGIBILITY','3 supplier eligibility',3,'2026-03-14 08:19:11','2026-03-14 08:19:11'),(2,1,'5 REQUIRED PROCUREMENT DOCUMENTS','5 required procurement documents',3,'2026-03-14 08:19:11','2026-03-14 08:19:11'),(3,1,'1B-D','1B-D',3,'2026-03-14 08:23:49','2026-03-14 08:23:49'),(4,1,'2A-C','2A-C',3,'2026-03-14 08:23:49','2026-03-14 08:23:49'),(5,1,'6','6',3,'2026-03-14 08:23:49','2026-03-14 08:23:49');
/*!40000 ALTER TABLE `procedure_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procedure_versions`
--

DROP TABLE IF EXISTS `procedure_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `procedure_versions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_id` int(10) unsigned NOT NULL,
  `legacy_post_id` int(10) unsigned DEFAULT NULL,
  `version_number` varchar(50) NOT NULL,
  `document_number` varchar(100) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `summary_of_change` text DEFAULT NULL,
  `change_type` varchar(50) NOT NULL DEFAULT 'NEW',
  `effective_date` date DEFAULT NULL,
  `registration_date` date NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'REGISTERED',
  `file_path` varchar(255) DEFAULT NULL,
  `based_on_version_id` int(10) unsigned DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `registered_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_procedure_versions_procedure_id` (`procedure_id`),
  KEY `idx_procedure_versions_legacy_post_id` (`legacy_post_id`),
  KEY `idx_procedure_versions_based_on_version_id` (`based_on_version_id`),
  KEY `idx_procedure_versions_status` (`status`),
  KEY `idx_procedure_versions_effective_date` (`effective_date`),
  CONSTRAINT `fk_procedure_versions_based_on` FOREIGN KEY (`based_on_version_id`) REFERENCES `procedure_versions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_procedure_versions_procedure` FOREIGN KEY (`procedure_id`) REFERENCES `procedures` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procedure_versions`
--

LOCK TABLES `procedure_versions` WRITE;
/*!40000 ALTER TABLE `procedure_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `procedure_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procedures`
--

DROP TABLE IF EXISTS `procedures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `procedures` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_code` varchar(100) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `owner_office` varchar(100) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'ACTIVE',
  `current_version_id` int(10) unsigned DEFAULT NULL,
  `legacy_post_id` int(10) unsigned DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_procedures_procedure_code` (`procedure_code`),
  KEY `idx_procedures_current_version_id` (`current_version_id`),
  KEY `idx_procedures_legacy_post_id` (`legacy_post_id`),
  KEY `idx_procedures_created_by` (`created_by`),
  CONSTRAINT `fk_procedures_current_version` FOREIGN KEY (`current_version_id`) REFERENCES `procedure_versions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procedures`
--

LOCK TABLES `procedures` WRITE;
/*!40000 ALTER TABLE `procedures` DISABLE KEYS */;
/*!40000 ALTER TABLE `procedures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `section_change_log`
--

DROP TABLE IF EXISTS `section_change_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `section_change_log` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_section_id` int(10) unsigned NOT NULL,
  `procedure_version_id` int(10) unsigned NOT NULL,
  `document_relationship_id` int(10) unsigned DEFAULT NULL,
  `change_type` varchar(50) NOT NULL,
  `entry_kind` varchar(50) NOT NULL DEFAULT 'AFFECTED_SECTION',
  `section_label` varchar(255) NOT NULL,
  `change_summary` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_section_change_log_procedure_section_id` (`procedure_section_id`),
  KEY `idx_section_change_log_procedure_version_id` (`procedure_version_id`),
  KEY `idx_section_change_log_document_relationship_id` (`document_relationship_id`),
  KEY `idx_section_change_log_change_type` (`change_type`),
  CONSTRAINT `fk_section_change_log_relationship` FOREIGN KEY (`document_relationship_id`) REFERENCES `document_relationships` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_section_change_log_section` FOREIGN KEY (`procedure_section_id`) REFERENCES `procedure_sections` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_section_change_log_version` FOREIGN KEY (`procedure_version_id`) REFERENCES `procedure_versions` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `section_change_log`
--

LOCK TABLES `section_change_log` WRITE;
/*!40000 ALTER TABLE `section_change_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `section_change_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_number` varchar(50) NOT NULL,
  `firstname` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `office` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('user','admin','super_admin') DEFAULT 'user',
  `status` enum('active','inactive') DEFAULT 'active',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_actions`
--

DROP TABLE IF EXISTS `workflow_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `workflow_actions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `procedure_version_id` int(10) unsigned NOT NULL,
  `lifecycle_action_type` varchar(100) NOT NULL,
  `from_status` varchar(50) DEFAULT NULL,
  `to_status` varchar(50) DEFAULT NULL,
  `acted_by` int(10) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `acted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_workflow_actions_procedure_version_id` (`procedure_version_id`),
  KEY `idx_workflow_actions_acted_at` (`acted_at`),
  KEY `idx_workflow_actions_lifecycle_action_type` (`lifecycle_action_type`),
  CONSTRAINT `fk_workflow_actions_procedure_version` FOREIGN KEY (`procedure_version_id`) REFERENCES `procedure_versions` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_actions`
--

LOCK TABLES `workflow_actions` WRITE;
/*!40000 ALTER TABLE `workflow_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'sopweb'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-15 17:56:05
