<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SOPWeb/public/
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
	RewriteRule ^posts/create$ /SOPWeb/posts/create [L]
	
</IfModule>
